/*=============================================================================================*/
/* F U E N T E S
/*=============================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/*=============================================================================================*/
/* R O O T
/*=============================================================================================*/
:root {
    --aquamarine: #34B0BE;
    --gray:       #D1CECA;
    --black:      #242635;
    --white:      #FFFFFF;
}

/*=============================================================================================*/
/* S E L E C T O R   U N I V E R S A L
/*=============================================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--black);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
}

h1 {
    color: var(--aquamarine);
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-style:normal;
    font-weight:lighter;
}

h3 {
    font-size: 16px;
    font-style:normal;
    font-weight:lighter;    
}

.h1-autoresize { font-size: calc(50px + (80 - 50) * ((100vw - 320px) / (1128 - 320))); }
.h2-autoresize { font-size: calc(32px + (50 - 32) * ((100vw - 320px) / (1128 - 320))); }
.h3-autoresize { font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1128 - 320))); }

.stylebold { font-weight: bold; }
.coloraqua { color: var(--aquamarine); }

header{
    background-color: var(--black);
    position: fixed;
    top: 0; right: 0;
    width: 100%; height: 60px;
    transition: all 300ms;
    z-index: 100;
}

nav{
    /*border: 1px dashed white;*/
    height: 60px;
    padding: 8px 24px;
    display: flex;
    justify-content: right; align-items: center;
    /*box-shadow: 10px 5px 5px 10px white;*/
}

#btn-menu{
    display: none;
}

.nav-menu{
    background-color: var(--gray);
    position: absolute;
    top: 60px; left: -100%;
    width: 100%; height: calc( 100vh - 60px );
    padding: 16px;
    display: flex; flex-direction: column;
    justify-content: space-evenly; align-items: center;
    transition: left .5s linear;
}

.nav-item{
    color: var(--white);
    list-style: none;
    font-size: 1.25rem;
}

#btn-menu:checked ~ .nav-menu{
    left: 0;
}

li > a {
    color: var(--white);
}

/*=============================================================================================*/
/* S E C C I O N   1
/*=============================================================================================*/
.div-section-1 {
    margin-top: 60px;
    padding: 0 64px 0;
    width: 100%; height: auto;
    max-height: 1000px;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}

.div-photo {
    width: 100%; height: calc(100vw - 128px);
    max-width: 500px; max-height: 500px;
    z-index: 2;
}

.div-photo-circle { 
    background-color: var(--gray);
    width: 100%; height: 100%;
    max-width: 500px; max-height: 500px;
    border-radius: 50%;
    box-shadow: var(--aquamarine) 0px 8px 16px 0px;
}

.div-photo-circle img {
    width: 100%; height: auto;    
}

.photo-01 { display: block; }
.photo-02 { display: none; }

.div-description {
    width: 100%; height:auto;
    max-width: 500px;
    padding-top: 12px;
}

.div-description-name {
    padding: 0;
    text-align: center;
}

.div-description-line {
    background-color: var(--white);   
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%; height: 2px;
    max-width: 1000px;
    box-shadow: var(--aquamarine) 0px 2px 8px 4px;
}

.div-social-networks {
    /*margin-top: 1rem;*/
    width: 100%; height: 15vw;
    max-width: 500px; max-height: 94.5px;
    display: flex; flex-direction: row;
    justify-content: space-evenly; align-items: center;
}

.div-social-networks > .circulo {
    background-color: var(--white);
    width: 10vw; height: 10vw;
    max-width: 63px; max-height: 63px; 
    border-radius: 50%; 
    display: flex; justify-content: center;
}

.div-social-networks > .circulo > .icon {
    width: 5vw; height: auto;
    max-width: 31.5px; max-height: auto;
}

/*=============================================================================================*/
/* S E C C I O N   2
/*=============================================================================================*/
.div-section-2 {
    width: 100%; height: auto;
    padding: 16px 16px 16px;
    display: flex; flex-direction: row;
    justify-content: space-evenly; align-items: center;
}

.div-social-networks-2 {
    background-color: var(--gray);
    width: 100%; height: 15vw;
    max-width: 1000px; max-height: 170px;
    border-radius: 16px;
    display: flex; flex-direction: row;
    justify-content: space-evenly; align-items: center;
    z-index: 2;
}

.div-social-networks-2 > .circulo {
    background-color: var(--white);
    width: 20%; height: 70%;
    max-width: 200px; max-height: 120px;
    border-radius: 12px; 
    display: flex; justify-content: center;
}

.div-social-networks-2 > .circulo > .icon {
    width: 50%; height: auto;
}

/*=============================================================================================*/
/* S E C C I O N   3
/*=============================================================================================*/
.div-section-3 {
    /*border: 1px dashed red;*/
    width: 100%; height: auto;
    padding: 48px 16px 48px;
    text-align: center;
    display: flex; justify-content: center;
}

.div-about-me {
    /*border: 1px dashed red;*/
    width: 100%; height: auto;
    max-width: 1000px;
    text-align: center;
}


/*=============================================================================================*/
/* S E C C I O N   4
/*=============================================================================================*/
.div-section-4 {
    width: 100%; height: auto;
    padding: 48px 16px 48px;
    text-align: center;
    overflow-x: hidden;
}

/*=============================================================================================*/
/* S E C C I O N   5
/*=============================================================================================*/
.div-section-5 {
    width: 100%; height: auto;
    padding: 48px 16px 48px;
    display: flex; flex-direction: column; 
    justify-content: center; align-items: center;
}

.divMain7Grd {
    margin-top: 32px;
    width: 100%; height:160px;
    max-width: 1000px; height: auto;
    display: grid; grid-gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.habilityBox {
    display: flex; flex-direction: column; justify-content: center; align-items: center;    
}

.habCellA { grid-column: 1; grid-row: 1; }
.habCellB { grid-column: 1; grid-row: 2; }
.habCellC { grid-column: 1; grid-row: 3; }

.habilityLabel { 
    color: var(--white); 
    width: 100%;
    font-weight: bold; 
    font-size: 16px;
    text-align: left; 
}

.letter1 { 
    color: var(--aquamarine);
    font-size: 14px;
}

.container {
    background-color: var(--white);
    width: 100%; height: 3vw;
    max-height: 20px;
    border-radius: 16px;
}

.skill {
    background-color: var(--aquamarine);
    /*padding: 1%;*/
    border-radius: 16px;
    text-align: right;
}

.item1 { width: 95%; height: 100%;}
.item2 { width: 95%; height: 100%;}
.item3 { width: 80%; height: 100%;}

/*=============================================================================================*/
/* S E C C I O N   6
/*=============================================================================================*/
.div-section-6 { 
    width: 100%; height: auto;
    padding: 48px 16px 48px;
    text-align: center;
}

/*=============================================================================================*/
/* S E C C I O N   7
/*=============================================================================================*/
.div-section-7 {
    padding: 16px 16px 16px;    
    display: flex; flex-direction: column;
    justify-content: center; align-items: center; 
}

.contact-information {
    /*border: 1px dashed green;*/
    padding: 16px; gap: 16px;   
    display: flex; flex-direction: column;
    justify-content: center; align-items: center; 
}

.cellphone-card {
    background-image: url(../vectors/Ellipse\ 14.svg);
    background-color: var(--white);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -1rem;
    width: 50vw; height: 50vw;
    max-width: 250px; max-height: 250px;
    border-radius: 16px;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center; 
}

.cellphone-card > .image {
    width: 40%;
}

.mail-card {
    background-image: url(../vectors/Ellipse\ 14.svg);
    background-color: var(--white);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -1rem;
    width: 50vw; height: 50vw;
    max-width: 250px; max-height: 250px;
    border-radius: 1rem;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center; 
}

.mail-card > .image {
    width: 40%;
}

.contact-information-letter {
    color: var(--black); 
    font-size: 1rem;
    font-weight: bold;
}

/*=============================================================================================*/
/* M E D I A    Q U E R Y S
/*=============================================================================================*/
@media screen and ( min-width: 548px ){
    .contact-information {
        display: flex; flex-direction: row;
        justify-content: center; align-items: center; 
    } 
}

@media screen and ( min-width: 768px ){
    label{
        display: none;
    }

    .nav-menu{
        position: static;
        min-height: auto;
        flex-direction: row;
        height: 60px;
        max-height: 60px;
        justify-content: flex-end;
        background-color: transparent;
        gap: 1rem;
    }

    .nav-item{
        font-size: 1rem;
    }


}

@media screen and ( min-width: 1128px ){
    .photo-01 { display: none; }
    .photo-02 { display: block; }

    .h1-autoresize { font-size: 80px; }
    .h2-autoresize { font-size: 50px; }
    .h3-autoresize { font-size: 22px; }

    .div-section-1 {
        max-height: 500px;
        display: flex; flex-direction: row;
        justify-content:center; align-items: center; 
    }

    .div-section-2 {
        padding-top: 0;
    }
}

/*border: 1px dashed blue;*/
/*.huevo{
    width: 200px;
    height: 275px;
    background: burlywood;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}*/